<!DOCTYPE html>
<html>
<head>
    <title>Flask To-Do App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>📝 To-Do List</h1>

        <form method="POST">
            <input type="text" name="task" placeholder="Enter a new task" required>
            <button type="submit">Add</button>
        </form>

        <ul>
        {% for task in tasks %}
            <li class="task-item">
            <span class="task-text">{{ task }}</span>

            <div class="task-actions">
                <form action="{{ url_for('edit', index=loop.index0) }}">
                    <button class="delete-button" type="submit">✏️ Edit</button>
                </form>
                <form method="POST" action="{{ url_for('delete', index=loop.index0) }}">
                    <button class="delete-button" type="submit">🗑️ Delete</button>
                </form>
                
            </div>
        </li>
        {% endfor %}
    </ul>

        

    </div>
</body>
</html>
